* {
  margin: 0;
}
.title {
  color: white;
  padding-bottom: 40px;
}
.detail__poster-img {
  width: 90%;
  display: block;
  margin: auto auto;
  padding-bottom: 50px;
}
.title_release_date_container {
  display: flex;
}
.release_date {
  color: rgb(169, 160, 160);
  padding-top: 10px;
  padding-left: 10px;
}

.description {
  color: rgb(155, 147, 147);
  padding: 0px 20px;
  padding-bottom: 80px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  text-indent: 2%;
}
.popularity_block {
  color: white;
  padding-bottom: 50px;
  padding-left: 30px;
  display: flex;
  font-size: 20px;
}
.runtime_block {
  color: white;
  display: flex;
  padding-left: 30px;
}
.detail_middle {
  display: flex;
}

.tagline {
  color: rgb(155, 147, 147);
  font-size: 40px;
  display: block;
  padding: 30px 20px;
  font-weight: 700;
  font-family: serif;
}
.button {
  color: white;
  border: 1px solid white;
  width: 60px;
  height: 50px;
  border-radius: 10%;
  cursor: pointer;
}
.button:hover {
  color: red;
  border-color: red;
}
.detail_top {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
